<button
  pButton
  pRipple
  [label]="locale.New"
  icon="pi pi-plus"
  class="p-button-success"
  (click)="showTodoForm = true"
></button>

<!-- Table -->
<p-table
	[value]="todoList"
	selectionMode="single"
	[paginator]="true"
	[rows]="paginatorRows"
	[showCurrentPageReport]="true"
	[(first)]="paginatorFirst"
	currentPageReportTemplate="Záznam {first} - {last} z {totalRecords}"
>
	<ng-template pTemplate="header">
		<tr>
			<th>{{ locale.TableColumnUser }}</th>
			<th>{{ locale.TableColumnID }}</th>
			<th>{{ locale.TableColumnTodo }}</th>
			<th>{{ locale.TableColumnCompleted }}</th>
			<th></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-todo>
		<tr [pSelectableRow]="todo">
			<td>{{ todo.userId | userRole }}</td>
			<td>{{ todo.id }}</td>
			<td>{{ todo.title }}</td>
			<td>
				<ng-container
					*ngIf="
						todo.completed;
						then todoComplete;
						else todoNotComplete
					"
				></ng-container>
			</td>
			<td>
				<button
					pButton
					icon="pi pi-pencil"
					class="p-button-rounded p-button-info mr-2"
					(click)="editTodo(todo)"
				></button>
				<button
					pButton
					icon="pi pi-trash"
					class="p-button-rounded p-button-danger"
					(click)="deleteTodo(todo)"
				></button>
			</td>
		</tr>
	</ng-template>
</p-table>

<!-- Edit dialog -->
<p-dialog
	[(visible)]="showTodoForm"
	[modal]="true"
	[header]="locale.DialogHeader"
	styleClass="p-fluid"
>
	<form [formGroup]="editForm">
		<div class="field">
			<label for="userId">{{ locale.TableColumnUser }}</label>
			<p-inputNumber id="userId" formControlName="userId"></p-inputNumber>
		</div>
		<div class="field">
			<label for="id">{{ locale.TableColumnID }}</label>
			<p-inputNumber id="id" formControlName="id"></p-inputNumber>
		</div>
		<div class="field">
			<label for="title">{{ locale.TableColumnTodo }}</label>
			<textarea
				pInputTextarea
				id="title"
				formControlName="title"
			></textarea>
		</div>
		<div class="field">
			<p-checkbox
				[binary]="true"
				formControlName="completed"
				[label]="locale.TableColumnCompleted"
			></p-checkbox>
		</div>
	</form>
	<ng-template pTemplate="footer">
		<button
			pButton
			pRipple
			[label]="locale.Cancel"
			icon="pi pi-times"
			class="p-button-secondary"
			(click)="cancel()"
		></button>
		<button
			pButton
			pRipple
			[label]="locale.Save"
			icon="pi pi-check"
      class="p-button-success"
			(click)="saveTodo()"
		></button>
	</ng-template>
</p-dialog>

<!-- Confirmation dialog -->
<p-confirmDialog></p-confirmDialog>

<!-- Template for Table 'status' field -->
<ng-template #todoComplete>
	<i class="pi pi-check"></i>
</ng-template>

<ng-template #todoNotComplete>
	<i class="pi pi-times"></i>
</ng-template>
